*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Ubuntu', sans-serif;
}

li{
  list-style: none;
}

.btn-change-layout{
  position: absolute;
  right: 30px;
  top: 20px;
  border-radius: 15px;
}

.upload-image-lg{
  width: 55%;
  height: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.section-upload{
  flex-direction: column;
  padding: 50px 0;
  min-height: 100vh;
}

.section-upload,
.image-content{
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.image-content{
  position: relative;
}

.upload-image-lg,
.upload-image{
  object-fit: cover;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.upload-image{
  width: 85px;
  height: 65px;
  cursor: pointer;
}

.upload-image:hover{
  transition: all .8s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.image-list{
  width: 40%;
}

.image-item{
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin:8px 0;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-radius: 6px;
}

.image-name{
  font-size: 18px;
}

.input-choose{
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 13px;
}
.image-size{
  font-size: 13px;
}

.btn-remove{
  cursor: pointer;
  width: 30px;
  border: 0;
  background: 0;
}

.btn-remove:active{
  transform: scale(.6);
  transition: .4s ease-in-out;
}

.btn-remove:hover{
  animation: ring .8s ease-in-out;
}

.btn-remove:not(:hover) {
  animation: unset;
}

.image-item,
.btn-remove,
.image-name,
.upload-image,
.image-size{
  animation: upload .8s ease-in-out;
}

/* modal */
.modal{
  padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  position: fixed;
  background: #fff;
  border-radius: 5px;
  transition: all 5s ease-in-out;
  animation: modal 1s ease-in-out;
}

.modal-title{
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
}

.btn-group{
  float: right;
}

.btn{
  margin: 0 3px;
  padding: 2px 3px;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #000000d9;
}

.btn-yes{
  background: #40a9ff;
  border-color: #40a9ff;
}

.btn-no{
  background: #fff;
  border-color: #d9d9d9;
}

.modal-notification-image{
  width: 20px;
  height: 20px;
}

.show-image{
  width: 50%;
  max-height: 100%;
}

.modal-name{
  padding-bottom: 5px;
}

.btn-close{
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0;
}

.image-show{
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
  position: relative;
}

/* drag-drop */
.drop-file-input,
.item-remove{
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-file-input {
  position: relative;
  width: 30%;
  height: 200px;
  border: 2px dashed #ddd;
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.drop-file-input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop-file-input:hover,
.drop-file-input.dragover {
  opacity: 0.6;
}

.drop-file-input__label {
  text-align: center;
  font-weight: 600;
  padding: 10px;
}

.drop-file-input__label img {
  width: 100px;
}

.drop-file-preview_item{
  display: flex;
  justify-content: space-between;
}

.item-remove {
  transition: opacity 0.3s ease;
}

.drop-file-preview__item:hover .item-remove {
  opacity: 1;
}

.action-remove{
  animation: slideOut 1s ease-in-out;
  position: relative;
}

@keyframes slideOut {
  0% {
    left: 0;
  }

  75% {
    left: 2000px;
    max-height: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-width: 1px;
    overflow: hidden;
  }

  100% {
    left: 2000px;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0;
    overflow: hidden;
  }
}

@keyframes upload {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes modal {
  from {
    opacity: 0;
    top: 55%;
    left: 50%;
  }

  to {
    opacity: 1;
    top: 50%;
  }
}

@keyframes ring {
  0% {
    transform: rotate(0) scale(1) skew(1deg)
  }

  10% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }

  20% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }

  30% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }

  40% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }

  50% {
    transform: rotate(0) scale(1) skew(1deg)
  }

  100% {
    transform: rotate(0) scale(1) skew(1deg)
  }
}

@media screen and (max-width: 1200px){
  .image-list{
    width: 60%;
  }
  .image-item{
    gap: 10px;
  }
}